@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.ru {
		flex: 1;
		border-top: 1px solid #eee;
		overflow-y: auto;
		display: flex;
		height: 0;

		> pre {
			padding: 0 20px!important;
		}
	}
}

.right {
	border-left: 1px solid #eee;
	padding: 20px;
	white-space: pre;

	h2 {
		margin: 0 0 0 5px;
		font-size: 16px;
		color: #10f108;
		padding: 3px 7px;
		font-weight: normal;
		background: #242425;
		border-radius: 2px;
		display: inline-block;
	}
}

.co {
	display: flex;
	padding: 20px;
}

.com {
	border: 1px solid #eee;
	padding: 20px;
	flex: 1;
	border-radius: 2px;

	&:nth-child(2) {
		margin: 0 20px;
	}

	h2 {
		font-size: 24px;
		margin: 0;
		font-weight: 400;
		color: #333;
		margin-bottom: 30px;
	}

	button {
		margin-top: 20px;
		font-size: 14px;
		color: #fff;
    background: #0170fe;
		padding: 4px 10px;
		border-radius: 3px;
		border: 1px solid #0170fe;
		cursor: pointer;
		position: relative;

		&.loading {
			padding-left: 24px;

			&::before {
				content: '';
				position: absolute;
				left: 4px;
				top: 4px;
				border: 2px solid #f3f3f3;
  			border-top: 2px solid #3498db;
  			border-radius: 50%;
  			width: 12px;
  			height: 12px;
  			animation: spin 2s linear infinite;
			}
		}
	}

	p {
		font-size: 16px;
		color: #555;
		margin: 10px 0;

		span {
			color: #888;
			margin-right: 5px;
		}
	}
}
body {
	margin: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
